/* Write your code here. */

.bg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card-container {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 300px;
  height: 50px;

  border-radius: 10px;
}

.bg-color1 {
  background-color: #0b69ff;
}
.bg-color2 {
  background-color: #2dca73;
}
.bg-color3 {
  background-color: #ffb800;
}
.bg-color4 {
  background-color: #ff0b37;
}
.heading {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: roboto;
}
.img {
  width: 20px;
  height: 20px;
  margin-left: 30px;
}
.para {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  font-family: roboto;
  margin-left: 5px;
  color: #ffffff;
}
